/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<i class="icon-home"></i>
```
*/
.ico-logo-fb:before {
  background-image: url(./img/sprite.png);
  background-position: 0px 0px;
  width: 42px;
  height: 42px;
}
.ico-logo-pl:before {
  background-image: url(./img/sprite.png);
  background-position: -42px 0px;
  width: 42px;
  height: 42px;
}
