// stylelint-disable

body {
    padding-top: 5rem;
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

.nav-item .ion {
    font-size: 1.25rem;
}

// Default BS4 functions
@import "~bootstrap/scss/functions";

/* Colors settings */
@import 'colors';

/* Default Fonts */
@import "fonts";

/* Forms: checkbox, radio etc. */
@import "forms";

// Disable ugly border-radius
$enable-rounded: false !default;

// Disable shadows
$enable-shadows: false !default;

// Enable print styles
$enable-print-styles: true !default;

// Fix Bootstrap SCSS in build:prod
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

// Body - Settings for the `<body>` element.
$body-bg:                   $white !default;
$body-color:                $gray-900 !default;

// Links - Style anchor elements.
$link-color:                theme-color("primary") !default;
$link-decoration:           none !default;
$link-hover-color:          darken($link-color, 15%) !default;
$link-hover-decoration:     underline !default;

// Buttons + Forms - Shared variables that are reassigned to `$input-` and `$btn-` specific variables.
$border-width: 1px !default;
$border-color: $gray-300 !default;

$input-btn-padding-y:         .375rem !default;
$input-btn-padding-x:         .75rem !default;

$input-btn-focus-width:       .2rem !default;
//$input-btn-focus-color:       rgba($component-active-bg, .25) !default;
$input-btn-focus-box-shadow:  none !important !default; //disable ugly shadow outline in focus buttons
$input-btn-border-width:      $border-width !default;

.navbar-toggler-icon {
  width: 48px;
  height: 36px;
  background: transparent;
  position: relative;
  display: inline-block;
}
.navbar-toggler.collapsed .navbar-toggler-icon:hover {
  cursor: pointer;
}
.navbar-toggler.collapsed .navbar-toggler-icon:hover .close-icon:before {
  -webkit-transform: translate3d(0, -10px, 0);
  transform: translate3d(0, -10px, 0);
}
.navbar-toggler.collapsed .navbar-toggler-icon:hover .close-icon:after {
  -webkit-transform: translate3d(0, 10px, 0);
  transform: translate3d(0, 10px, 0);
}
.navbar-toggler:not(.collapsed) .navbar-toggler-icon .close-icon {
  background: transparent;
}
.navbar-toggler:not(.collapsed) .navbar-toggler-icon .close-icon:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.navbar-toggler:not(.collapsed) .navbar-toggler-icon .close-icon:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.close-icon {
  width: 25px;
  height: 2px;
  background-color: $white;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.close-icon:before,
.close-icon:after {
  width: 25px;
  height: 2px;
  content: '';
  background-color: $white;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}
.close-icon:before {
  -webkit-transform: translate3d(0, -8px, 0);
  transform: translate3d(0, -8px, 0);
}
.close-icon:after {
  -webkit-transform: translate3d(0, 8px, 0);
  transform: translate3d(0, 8px, 0);
}
@-webkit-keyframes open-hover {
  0% {
      font-size: 10px;
  }
  30% {
      font-size: 15px;
  }
  100% {
      font-size: 12px;
  }
}
@keyframes open-hover {
  0% {
      font-size: 10px;
  }
  30% {
      font-size: 15px;
  }
  100% {
      font-size: 12px;
  }
}

main {
    z-index: 1;
    margin-bottom: 30px;
    background-color: $white;
}

footer {
    align-items: center;
    bottom: 0;
    display: flex !important;
    height: 30px;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: -100;
    a {
        color: rgba($white, .5);
        &:hover {
            color: rgba($white, .75);
        }
    }
}

.footer a {

}

@import "breakpoints";

@import "responsive";